<aside class="sidebar">
  <div class="widget">
    <form class="formulario" [formGroup]="loginForm">
      <h2>Login</h2>
      <div class="form-group">
        <label for="usuario">Usuario</label>
        <input
          formControlName="usuario"
          type="text"
          id="usuario"
          name="usuario"
          required
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          formControlName="email"
          type="email"
          id="email"
          name="email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          formControlName="password"
          type="password"
          id="password"
          name="password"
          required
          placeholder="ingrese una con 6 caracteres minimo"
        />
      </div>
      <button class="btn" (click)="login()" id="enviar">Login</button>
    </form>
    <button id="denuncia">Denuncias</button>
  </div>
  <div class="widget">
    <button id="sihcal">SIHCAL</button>
  </div>
</aside>
